@model List<FlyArcARS.ApplicationLogic.Data.Passenger>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
@foreach (var Passengers in Model)
{
    <div>
        @Passengers.FirstName
    </div>
    <div>
        @Passengers.LastName
    </div>
    <div>
        @Passengers.Address
    </div>
    <div>
        @Passengers.City
    </div>
    <div>
        @Passengers.Country
    </div>
    <div>
        @Passengers.Age
    </div>
}
<a href='@Url.Action("AddPassenger", "Customer")'>Add Passenger</a>