@model List<FlyArcARS.ApplicationLogic.Data.Flight>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>


        @foreach (var flight in Model)
        {
            <div>
                @flight.NumberOfSeats
            </div>
            <div>
                @flight.Name
            </div>
            <div>
                @flight.Source
            </div>
            <div>
                @flight.Destination
            </div>
            <div>
                @flight.Time
            </div>
        }
        <a href='@Url.Action("AddFlight", "Flight")'>Add Flight</a>
